@font-face {
    font-family: "Campton";
    src: url("../fonts/campton/CamptonMedium.otf");
}

.banner {
    color: white;
    padding-top: 2%;
}

.banner-img {
    height: 50%;
    width: 100%;
    top: 0;
}

.banner-p {
    font-size: 15px;
    font-family: "Campton", sans-serif;
    letter-spacing: 5px;
}

.green-color {
    color: #03fc13;
}

.main-mid-seaction {
    height: 4.5rem;
    width: 12rem;
}

.main-mid-seaction-h1 {
    /* height: 8rem; */
    box-shadow: 0 0 10px rgb(252, 250, 250);
}

.md-booking-box-w {
    height: 3.5rem;
    width: 12rem;
}

.image1 {
    width: 110%;
    margin-left: -5.5rem;
}
.vehical-tab-div .md-booking-middle-img .image1 {
    width: 104.5%;
    margin-left: -25px;
}

.footer-image {
    width: 116.6%;
    object-fit: fill;
    margin-left: -14rem;
}

.select1 {
    width: 30rem;
}

.borer-color {
    border: 1px solid rgb(204, 200, 200);
}

.input1 {
    height: 100%;
}

.hotel-size {
    font-size: 350%;
}

.active2 {
    box-shadow: 0 0 0 rgb(238, 234, 234);
}

.booking-search-p1 {
    margin-bottom: 1rem;
    margin-left: .3rem;
    font-weight: bold;
}

.md-booking-search-p2 {
    font-weight: 700;
    font-size: 14px;
    font-family: Campton;
    color: #000000;
}

.md-booking-search-p3 {
    font-weight: 400;
    font-size: 14px;
    font-family: Campton;
    color: #000000;
}

.md-booking-search-p4 {
    font-weight: 600;
    font-size: 20px;
    font-family: Campton;
    color: #4CDB06;
}

.md-booking-search-p5 {
    font-weight: 600;
    font-size: 12px;
    font-family: Campton;
    color: #4CDB06;
}

.md-booking-search-p6 {
    font-weight: 600;
    font-size: 16px;
    font-family: Campton;
    color: #4CDB06;
}

.md-booking-search-p7 {
    font-weight: 400;
    font-size: 20px;
    font-family: Campton;
    color: #000000;
    /* margin-left: 3rem; */
}

.md-booking-search-p8 {
    font-weight: 700;
    font-size: 20px;
    font-family: Campton;
    color: #000000;
}

.btn-search-pill-booking1 {
    width: 203px;
    height: 42px;
    border-radius: 3px;
    background-color: #000000;
    /* border-color: #4cdb06; */
    font-family: Campton;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    color: #FFFFFF;
    cursor: pointer;
}

/* flight Search page */
.md-booking-flight-w {
    width: 73%;
}

.flight-size-p {
    font-weight: 700;
    font-size: 80px;

}

.flight-size-p1 {
    font-weight: 500;
    font-size: 19px;
}


.vehicle-p1 {
    font-weight: 500;
    font-size: 12px;
}

.vehicle-p2 {
    font-weight: 700;
    font-size: 16px;
    color: #4CDB06 !important;
}

.vehicle-p3 {
    font-weight: 500;
    font-size: 16px;
}

.vehicle-p4 {
    font-weight: 600;
    font-size: 14px;
}

.btn-search-pill-booking2 {
    width: 245px;
    height: 37px;
    border-radius: 3px;
    background-color: #4CDB06;
    /* border-color: #4cdb06; */
    font-family: Campton;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    color: #FFFFFF;
    cursor: pointer;
}


/* Reservation Detail page */
.booking-bt1 {
    width: 6%;
    height: 22px;
    background-color: #4CDB06;
    text-align: center;
    padding-bottom: 2px;
}

.pointer1 {
    cursor: pointer;
}

.reservation-p1 {
    font-weight: 500;
    font-size: 14px;
    color: #4CDB06;

}

.reservation-p2 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.reservation-p3 {
    font-size: 18px;
    font-weight: 600;
    color: #4CDB06;
}

.reservation-p4 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}

.reservation-p5 {
    text-align: end;
    font-size: 19px;
    font-weight: 500;
    color: #000000;
}

.reservation-p6 {
    text-align: end;
    font-size: 53px;
    font-weight: 700;
    color: #000000;
}

.reservation-p7 {
    text-align: end;
    font-size: 17px;
    font-weight: 600;
    color: #F31D1D;
}

.rev-border {
    width: 100%;
    height: 2px;
    background-color: #4CDB06;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.reserv-form-w {
    height: 150%;
}

.btn-search-pill-reservation1 {
    width: 245px;
    height: 46px;
    border-radius: 3px;
    background-color: #4CDB06;
    /* border-color: #4cdb06; */
    font-family: Campton;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    color: #FFFFFF;
    cursor: pointer;
}

.reservation-p8 {
    /* text-align: end; */
    font-size: 33px;
    font-weight: 700;
    /* color: #F31D1D; */
}

.reserv-check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4CDB06;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.reserv-check:checked {
    background-color: #4CDB06;
    border-color: #4CDB06;
}

/* Payment successful */
.payment-h {
    height: 4rem;
}

.payment-p1 {
    font-size: 33px;
    font-weight: 700;
    color: #000000;
}

.payment-p2 {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}

.payment-p3 {
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}

/* Flight Ticket Detais */
.flight-ticket-input1 {
    border: none;
    width: 100%;
}

.flight-ticket-select1 {
    border: none;
    border-right: 2px solid rgb(221, 215, 215);
}

.flight-detail-form-height {
    height: 48px;
    /* width: 356px; */
}

.flight-detail-form-p1 {
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    font-family: Campton;
    font-style: italic;
}

.flight-detail-form-p2 {
    font-size: 16px;
    font-weight: 400;
    color: #000002;
    font-family: Campton;
    /* font-style: italic; */
}

.flight-detail-form-p3 {
    background-color: #4CDB06;
    width: 20%;
    padding: 1px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.flight-detail-form-p4 {
    background-color: #4CDB06;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.flight-detail-form-p5 {
    font-size: 18px;
    font-weight: 700;
    color: #000002;
    font-family: Campton;
}

.flight-detail-form-p6 {
    font-size: 17px;
    font-weight: 600;
    color: #F31D1D;
    font-family: Campton;
}

.booking-select1 {
    padding: 0 2rem 0
}

.booking-img2 {
    z-index: 1;
    top: 1rem;
    left: .5rem;
}

.booking-box-h {
    padding: 0;
    height: calc(3.5rem + 2px) !important;
    border-radius: 3px;
    width: 100%;
}

.btn-search-pill-booking3 {
    width: 100%;
    height: 73px;
    border-radius: 3px;
    background-color: #4cdb06;
    border-color: #4cdb06;
    font-family: Campton;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    /* letter-spacing: -0.07em; */
    /* transition: 0.15s all; */
    color: #000000;
    cursor: pointer;
    border: 1px solid transparent;
}

/* Mpluss06 */

.md-booking-serach-filter {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}

.md-booking-middle-content .nav-tabs {
    border: unset !important;
}

.md-booking-middle-content .nav-tabs .nav-item.show .nav-link,
.md-booking-middle-content .nav-tabs .nav-link.active,
.md-booking-middle-content .nav-tabs .nav-link.focus {
    border: 1px solid transparent;
}

.page-wrapper {
    background: #F6F6F6;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 3px !important;
}

.select2-search--dropdown .select2-search__field {
    padding: 7px !important;
}

.select2-container--open .select2-dropdown--below {
    padding: 5px !important;
}

.select2-results__option {
    padding: 7px !important;
}