@font-face {
    font-family: "Campton";
    src: url("../fonts/campton/CamptonMedium.otf");
}

.banner {
    color: white;
    padding-top: 2%;
}

.banner-img {
    height: 50%;
    width: 100%;
    top: 0;
}

.banner-p {
    font-size: 15px;
    font-family: "Campton", sans-serif;
    letter-spacing: 5px;
}

.green-color {
    color: #03fc13;
}

.main-mid-seaction {
    width: 193px;
    height: 53px;
}

.main-mid-seaction-h1 {
    /* height: 8rem; */
    box-shadow: 0 0 10px rgb(252, 250, 250);
}

.md-booking-box-w {
    height: 3.5rem;
    width: 12rem;
}

.image1 {
    width: 111.2%;
    margin-left: -7rem;
}
.vehical-tab-div .md-booking-middle-img .image1 {
    width: 104.5%;
    margin-left: -25px;
}

.footer-image {
    width: 116.6%;
    object-fit: fill;
    margin-left: -14rem;
}

.select1 {
    width: 30rem;
}

.borer-color {
    border: 1px solid rgb(204, 200, 200);
}

.input1 {
    height: 100%;
}

.hotel-size {
    font-size: 350%;
}

.active2 {
    box-shadow: 0 0 0 rgb(238, 234, 234);
}

.booking-search-p1 {
    margin-bottom: 1rem;
    margin-left: .3rem;
    font-weight: bold;
}

.md-booking-search-p2 {
    font-weight: 700;
    font-size: 14px;
    font-family: Campton;
    color: #000000;
}

.md-booking-search-p3 {
    font-weight: 400;
    font-size: 14px;
    font-family: Campton;
    color: #000000;
}

.md-booking-search-p4 {
    font-weight: 600;
    font-size: 20px;
    font-family: Campton;
    color: #4CDB06;
}

.md-booking-search-p5 {
    font-weight: 600;
    font-size: 12px;
    font-family: Campton;
    color: #4CDB06;
}

.md-booking-search-p6 {
    font-weight: 600;
    font-size: 16px;
    font-family: Campton;
    color: #4CDB06;
}

.md-booking-search-p7 {
    font-weight: 400;
    font-size: 20px;
    font-family: Campton;
    color: #000000;
    /* margin-left: 3rem; */
}

.md-booking-search-p8 {
    font-weight: 700;
    font-size: 20px;
    font-family: Campton;
    color: #000000;
}

.btn-search-pill-booking1 {
    width: 203px;
    height: 42px;
    border-radius: 3px;
    background-color: #000000;
    /* border-color: #4cdb06; */
    font-family: Campton;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    color: #FFFFFF;
    cursor: pointer;
}

/* flight Search page */
.md-booking-flight-w {
    width: 73%;
}

.flight-size-p {
    font-weight: 700;
    font-size: 80px;

}

.flight-size-p1 {
    font-weight: 500;
    font-size: 19px;
}


.vehicle-p1 {
    font-weight: 500;
    font-size: 12px;
}

.vehicle-p2 {
    font-weight: 700;
    font-size: 16px;
    color: #4CDB06 !important;
}

.vehicle-p3 {
    font-weight: 500;
    font-size: 16px;
}

.vehicle-p4 {
    font-weight: 600;
    font-size: 14px;
}

.btn-search-pill-booking2 {
    width: 245px;
    height: 37px;
    border-radius: 3px;
    background-color: #4CDB06;
    /* border-color: #4cdb06; */
    font-family: Campton;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    color: #FFFFFF;
    cursor: pointer;
}


/* Reservation Detail page */
.booking-bt1 {
    width: 6%;
    height: 22px;
    background-color: #4CDB06;
    text-align: center;
    padding-bottom: 2px;
}

.pointer1 {
    cursor: pointer;
}

.reservation-p1 {
    font-weight: 500;
    font-size: 14px;
    color: #4CDB06;

}

.reservation-p2 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.reservation-p3 {
    font-size: 18px;
    font-weight: 600;
    color: #4CDB06;
}

.reservation-p4 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}

.reservation-p5 {
    text-align: end;
    font-size: 19px;
    font-weight: 500;
    color: #000000;
}

.reservation-p6 {
    text-align: end;
    font-size: 53px;
    font-weight: 700;
    color: #000000;
}

.reservation-p7 {
    text-align: end;
    font-size: 17px;
    font-weight: 600;
    color: #F31D1D;
}

.rev-border {
    width: 100%;
    height: 2px;
    background-color: #4CDB06;
    border-radius: 5px;
    /* margin-bottom: 5rem; */
}

.reserv-form-w {
    height: 150%;
}

.btn-search-pill-reservation1 {
    width: 245px;
    height: 46px;
    border-radius: 3px;
    background-color: #4CDB06;
    /* border-color: #4cdb06; */
    font-family: Campton;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    color: #FFFFFF;
    cursor: pointer;
}

.reservation-p8 {
    /* text-align: end; */
    font-size: 33px;
    font-weight: 700;
    /* color: #F31D1D; */
}

.reserv-check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4CDB06;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.reserv-check:checked {
    background-color: #4CDB06;
    border-color: #4CDB06;
}

/* Payment successful */
.payment-h {
    height: 4rem;
}

.payment-p1 {
    font-size: 33px;
    font-weight: 700;
    color: #000000;
}

.payment-p2 {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}

.payment-p3 {
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}

/* Flight Ticket Detais */
.flight-ticket-input1 {
    border: none;
    width: 100%;
}

.flight-ticket-select1 {
    border: none;
    border-right: 2px solid rgb(221, 215, 215);
}

.flight-detail-form-height {
    height: 48px;
    /* width: 356px; */
}

.flight-detail-form-p1 {
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    font-family: Campton;
    font-style: italic;
}

.flight-detail-form-p2 {
    font-size: 16px;
    font-weight: 400;
    color: #000002;
    font-family: Campton;
    /* font-style: italic; */
}

.flight-detail-form-p3 {
    background-color: #4CDB06;
    width: 20%;
    padding: 1px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.flight-detail-form-p4 {
    background-color: #4CDB06;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.flight-detail-form-p5 {
    font-size: 18px;
    font-weight: 700;
    color: #000002;
    font-family: Campton;
}

.flight-detail-form-p6 {
    font-size: 17px;
    font-weight: 600;
    color: #F31D1D;
    font-family: Campton;
}

.booking-select1 {
    padding: 0 2rem 0
}

.booking-img2 {
    z-index: 1;
    top: 1rem;
    left: .5rem;
}

.booking-box-h {
    padding: 0;
    height: 57px !important;
    border-radius: 3px;
    width: 100%;
}

.btn-search-pill-booking3 {
    width: 100%;
    height: 73px;
    border-radius: 3px;
    background-color: #4cdb06;
    border-color: #4cdb06;
    font-family: Campton;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    /* letter-spacing: -0.07em; */
    /* transition: 0.15s all; */
    color: #000000;
    cursor: pointer;
    border: 1px solid transparent;
}

/* Mpluss06 */

.md-booking-serach-filter {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 999;
}

.md-booking-middle-content .nav-tabs {
    border: unset !important;
    gap: 10px;
}
.md-booking-middle-content .nav-tabs .nav-link.active {
    position: relative;
    z-index: 9999;
}
.md-booking-middle-content .nav-tabs .nav-link {
    background-color: #fff;
}

.md-booking-middle-content .nav-tabs .nav-item.show .nav-link,
.md-booking-middle-content .nav-tabs .nav-link.active,
.md-booking-middle-content .nav-tabs .nav-link.focus {
    border: 1px solid transparent;
}

.page-wrapper {
    background: #F6F6F6;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 3px !important;
}

.select2-search--dropdown .select2-search__field {
    padding: 7px !important;
}

.select2-container--open .select2-dropdown--below {
    padding: 5px !important;
}

.select2-results__option {
    padding: 7px !important;
}
/* 09-01-2024 */
   .md-booking-serach-filter .select2-container .select2-selection--single {
        height: 57px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .md-booking-serach-filter .select2-container {
        width: 100% !important;
    }

    .md-booking-serach-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 40px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: flex;
        position: unset !important;
        height: unset !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        position: unset !important;
    }

    .md-booking-serach-filter .select2-results {
        cursor: pointer !important;
    }

    .md-booking-serach-filter .select2-container--default .select2-selection--single {
        border: 1px solid #ced4da;
    }
    .custom-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 57px !important;
    }

    .dropdown-header {
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    color: #212529;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    height: 57px !important;
    display: flex;
    align-items: center;
    }

    .dropdown-list {
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    background-color: #F6F6F6;
    width: 100%;
    }
    .md-booking-footer-details .dropdown-list {
        width: 230px;
    }
    .md-booking-footer-details .dropdown-header {
        padding: 10px 10px 10px 20px;
    }
    .dropdown-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
        justify-content: space-between;
    }

    .dropdown-list li:hover {
    background-color: #f0f0f0;
    }
    .dropdown-counter {
        width: 95px;
        display: flex;
        gap: 5px;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid #E9E9E9;
        background: #FFF;

    }
    .dropdown-counter .count-span{
        width: 35px;
        text-align: center;
    }
    .dropdown-counter .sub, .dropdown-counter .add{
        border-radius: 5px;
        background: #4CDB06;
        border: 1px solid transparent;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-list span .dropdown-search{
        height: 40px;
        width: 100%;
        border: 1px solid #E9E9E9;
        border-radius: 5px;
        padding: 10px 35px 10px 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .dropdown-list span button.btn{
        position: absolute;
        top: -10px;
        right: 0px;
        opacity: 0.5;
        font-size: 16px;
    }
    .dropdown-list span {
        position: relative;
    }
    .dropdown-list.search-dropdown li{
        border-top: 1px solid #E9E9E9;
        font-family: 'Campton';
        font-size: 16px;
    }
    .no-border-left  {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .no-border-right .dropdown-header, .no-border-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .flighttime {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 96%;
        gap: 10px;
    }
    .flighttime input {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: 10px;
    }
    .greenCheck input[type="checkbox"], .greenCheck input[type="checkbox"]::before {
        border-radius: 3px !important;
    }
    .form-floating select {
        color: #000 !important;
    }
    .form-floating .custom-dropdown .dropdown-header  {
        /* padding: 0; */
        border: unset;
        height: auto !important;
    }
    .form-floating .custom-dropdown  {
        height: auto !important;
    }
    .md-booking-serach-filter .md-booking-footer-details div {
        font-size: 16px;
        color: #212529;
        align-items: center;
    }
    .vehical-date.d-flex {
        padding: 0 10px;
    }
    .vehical-date.d-flex input.flex-row-reverse{
        font-size: 16px !important;
        font-weight: 900 !important;
        padding-right: 0 !important;
        width: 100px;
    }
    .md-booking-middle-content {
        margin-bottom: 250px;
    }
    .md-booking-middle-content.result-page {
        margin-bottom: 40px;
    }
    .md-booking-middle-content .nav-tabs .nav-link span{
        font-weight: 500 !important;
        font-size: 19px !important;
    }
    .md-booking-middle-content .nav-tabs .nav-link.active span, .md-booking-middle-content .nav-tabs .nav-link.hover span{
        font-weight: 700 !important;
    }
    .md-booking-serach-filter input.form-control{
        font-size: 16px;
    }

    .md-booking-banner-div {
        height: 40vh;
    }