@font-face {
    font-family: "Campton";
    src: url("../fonts/campton/CamptonMedium.otf");
}
.md-food-banner{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 8.7rem;
    margin-bottom: 2rem;
}
.sub-food-banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    margin-top: 5%;
}
.mid-sub-food-banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.banner-p1{
    font-weight: 500;
    font-size: 19px;
    font-family: Campton;
}
.banner-p2{
    font-weight: 700;
    font-size: 48px;
    font-family: Campton;
    color:#4CDB06;
}
.banner-p3{
    font-weight: 700;
    font-size: 89px;
    font-family: Campton;
    color:#000000;
}
.mid-sect-height{
    height: 100px;
    width: 1066px;
    margin-bottom: 2rem;
}
.green-color{
    color:#4CDB06;
}
.md-food-select1 {
    height: 100px
}

.btn-search-pill-food {
    width: 203px;
    height: 73px;
    border-radius: 3px;
    background-color: #4cdb06;
    border-color: #4cdb06;
    font-family: Campton;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
    margin-left: -1rem;
}
.food-mid-sect2{
    width: 1066px;
    height: 178px;
    border-radius: 5px;
    margin-bottom: 3rem;
    padding: 1rem
}
.food-mid-sect-img1{
width: 212px;
height: 141px;
border-radius: 3px;
/* border: 1px solid black; */
}

.food-review{
    font-weight: 700;
    font-family: Campton;
    font-size: 18px;
}
.food-review-270{
    font-weight: 500;
    font-family: Campton;
    font-size: 11px;
}
.food-factory{
    font-weight: 600;
    font-family: Campton;
    font-size: 20px;
    color: #000000;
}
.food-factory-veg{
    font-weight: 400;
    font-family: Campton;
    font-size: 14px;
    color: #000000;
}
.mid-food-sen1
{
    font-weight: 700;
    font-family: Campton;
    font-size: 53px;
    color: #000000;
}
.mid-food-sen2{
    font-weight: 700;
    font-family: Campton;
    font-size: 53px;
    color: #4CDB06;
}
.mid-food-m{
    margin-top: 22rem;
    margin-bottom: 3rem;
}
.food-footer-m{
    margin-bottom: 10rem;
}
.mid-food-sub{
    font-weight: 500;
    font-family: Campton;
    font-size: 14px;
    color: #A3A3A3;

}


/* Md food serach page */
.food-search-w{
    width: 47.6rem;
    margin: auto;
}
.food-factory-veg1{
    font-weight: 400;
    font-family: Campton;
    font-size: 14px;
    color: #000000;
    font-style: italic;
}
.food-search-p1{
    position: absolute;
    font-weight: 600;
    font-family: Campton;
    font-size: 17px;
    color: #000000;
}
.food-search-p1 img{
    position: relative;
    margin-left: -5.3rem;
}
.food-search-p2
{
    font-weight: 600;
    font-family: Campton;
    font-size: 20px;
    color: #000000;
}
.food-search-p3
{
    font-weight: 600;
    font-family: Campton;
    font-size: 16px;
    color: #000000;
}
.food-search-p4
{
    font-weight: 505;
    font-style: italic;
    font-size: 10px;
    color: #000000;
}
.btn-search-pill-food1 {
    width: 203px;
    height: 42px;
    border-radius: 3px;
    background-color: #4cdb06;
    border-color: #4cdb06;
    font-family: Campton;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.07em;
    transition: 0.15s all;
}
.food-search-p5
{
    font-weight: 600;
    /* font-style: italic; */
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}


/* food View page */
.md-food-view-stars{
    font-weight: 400;
    /* font-style: italic; */
    font-size: 14px;
    color: #949494;
}
.food-view-img1{
    float: right;
    width: 381px;
    height: 359px;
    border-radius: 17px;
    margin: 1rem;
}
.food-view-p1{
    font-weight: 400;
    font-size: 16px;
    color: #212121;
    font-family: Campton;
}
.food-view-border{
    border-bottom: 1px solid #4CDB06;
    margin: 2rem 0;
}
.food-view-p2{
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    font-family: Campton;
}
.md-food-view-stars1{
    width: 25px;
    height: 23px;
}
.food-view-p3{
    font-weight: 505;
    font-size: 16px;
    color: #212121;
    font-family: Campton;
    font-style: italic;
}
.md-food-view-footer{
    margin-top: 11rem;
}
.btn1{
    background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.active1 {
    border-bottom:4px solid #4CDB06;
    font-size:16px ;
    font-weight: 600;
  }

.range1{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
}


.range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4cdb06;
    cursor: pointer;
}

.range1::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4cdb06;
    cursor: pointer;
}

.range1:hover::-webkit-slider-thumb {
    background: #4cdb06;
}

.range1:hover::-moz-range-thumb {
    background: #4cdb06;
}
.img1{
    transform: translateX(-10px);
}
.purchase-meal-btn1{
    right: 18px;
    top: 18px;
}
.purchase-meal-p1{
   font-size:16px ;
   font-weight:700 ;
   color: #4CDB06;
   font-family: Campton;
}

.btn-md-food-purchase1{
    background-color: #4CDB06;
    border: none;
    border-radius: 25px;
    width: 149px;
    height: 35px;
}
.btn-md-food-purchase2{
    /* background-color: #4CDB06; */
    border: 1px solid #000000;
    border-radius: 25px;
    width: 149px;
    height: 35px;
}
.purchase-form-p1{
    height: 48px;
}

.purchase-details-p1{
    font-size: 20px;
    font-weight:700 ;
    color: #212121;
}
.purchase-details-p2{
    font-size: 14px;
    font-weight:700 ;
    color: #000000;
}
.purchase-details-p3{
    font-size: 16px;
    font-weight:500 ;
    color: #000000;
}
.purchase-details-p4{
    font-size: 18px;
    font-weight:600 ;
    color: #4CDB06;
}


