/* 320px — 480px Mobile devices */

@media screen and (max-width: 480px) {
    
    .banner-section {
        height: unset;
        padding-bottom: 50px;
    }

    .banner-content {
        text-align: center;
    }

    .search-bar {
        flex-direction: column;
    }

    .section-wrapper {
        text-align: center;
    }

    .doctorImg {
        display: none;
    }

    .md-coin {
        text-align: center;
    }

    .md-earn {
        flex-direction: column;
    }

    .md-earn div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .md-earn p{
        text-align: center;
    }

    .md-earn h1 {
        top: unset;
        left: unset;
        bottom: 0;
        right: -58px;
    }

    .bod-bot img {
        width: 100%;
    }

    .treatment-section .top5-card {
        flex-direction: column;
        gap: 3rem;
    }

    .treatment-section .top5-card .card {
        align-self: normal;
        width: unset;
        height: unset;
    }

    .treatment-section .card .card-body {
        flex-direction: column;
    }

    .treatment-section .top5-card .treatment-price {
        margin-right: 0;
    }

    .treatment-section .arrow {
        right: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 45px);
    }

    .treatment-section .rating {
        margin-right: unset;
    }

    .section6 img {
        position: unset;
    }

    .download-section {
        padding: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .download-section .part2 {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: unset;
    }

    .download-section .part2 div:last-child {
        flex-direction: column;
    }

    .mdLtd {
        gap: 1rem;
    }

    .mdLtd div:first-child {
        flex-direction: column;
        gap: 0;
        align-items: unset;
    }

    .allRights {
        flex-direction: column;
        gap: 0.5rem;
        align-items: unset;
    }

    .allRights ul {
        flex-direction: column;
        gap: 0 !important;
    }
    .pb-100px {
        padding-bottom: 10px;
    }
    .pt-150px {
        padding-top: 15px;
    }
    .banner-content h1 {
        color: #fff;
        font-family: "CamptonBold";
        font-size: 65px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: center;
    }
    .banner-content h2 {
        font-family: "Campton";
        color: #4cdb06;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.04em;
    }
    .banner-content h6 {
        color: #ffffff;
        font-size: 15px !important;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.30em !important;
        text-align: center !important;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #fff;
        border: none;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
        margin-right: 10px;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .search-bar .pe-3 {
        padding-right: 0px !important;
    }
    .btn-search-pill {
        width: 100% !important;
        margin-top: 10px !important;
    }
    .search-bar .form-select {
        margin-bottom: 5px;
        border: 1px solid #ededed !important;
    }
    .packageResult, .tab-card {
        padding: 18px 32px;
        border-radius: 5px;
        margin: 10px !important;
    }
    .package-results-details .brdr-right:nth-child(1) {
        width: 100% !important;
        /* width: 239px; */
    }
    .package-results-details .brdr-right:nth-child(2) {
        width: 100% !important;
        /* width: 150px; */
    }
    .packageResult .brdr-right, .homeServicePackage .brdr-right {
        border-right: none !important;
        /* padding-right: 2rem; */
    }
    .align-items-end {
        align-items: start!important;
    }
    
    

}

/* 481px — 768px: iPads, Tablets */

/* 769px — 1024px: Small screens, laptops */